<!doctype html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Emolance Test</title>
  
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>  
  
  <style>
    body {
      padding-top: 40px;
    }
    .starter-template {
      padding: 40px 15px;
      text-align: center;
    }
    .myimg {
     margin-left: auto;
     margin-right: auto;
     width: 50%;
     padding-top: 20px; 
     padding-bottom: 10px; 
    }    
  </style>

  <script type="text/javascript">    
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope, $http) {
      
      $scope.images = [];

      $scope.getPhoto = function() {
        $('#processButton').attr("disabled","disabled");
        $('#spinnerIcon').show();

        $http.get('http://000000008868bad7.emolance.ngrok.io/process/testuser').
          success(function(data, status, headers, config) {

            data.time = new Date().toLocaleString();
            $('#processButton').removeAttr("disabled");
            $('#spinnerIcon').hide();

            $scope.images.push(data);
          }).
          error(function(data, status, headers, config) {
            console.log("Failed to get the process done.");
            $('#processButton').removeAttr("disabled");            
            $('#spinnerIcon').hide();
          });
      }

      $('#spinnerIcon').hide();

    });
    
  </script>

  <script type="text/javascript">
  ;(function(p,l,o,w,i,n,g){if(!p[i]){p.GlobalSnowplowNamespace=p.GlobalSnowplowNamespace||[];
  p.GlobalSnowplowNamespace.push(i);p[i]=function(){(p[i].q=p[i].q||[]).push(arguments)
  };p[i].q=p[i].q||[];n=l.createElement(o);g=l.getElementsByTagName(o)[0];n.async=1;
  n.src=w;g.parentNode.insertBefore(n,g)}}(window,document,"script","//d1fc8wv8zag5ca.cloudfront.net/2.4.3/sp.js","snowplow"));

  window.snowplow('newTracker', 'cf', 'd9hgnchkw8kxh.cloudfront.net', { // Initialise a tracker
    appId: '12'
  });

  window.snowplow('trackPageView');
  </script>

</head>

<body ng-app="myApp" ng-controller="myCtrl">
  
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Emolance Test</a>
        </div>        
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        
        <p class="lead">Click on the button to request a live photo of Yu's Office.</p>
        <div>
          <button id="processButton" class="btn btn-default" ng-click="getPhoto()">
            See Yu's Office Now
          </button>
          <i id="spinnerIcon" class="fa fa-spinner fa-spin"></i>          

          <div ng-repeat="data in images">          
            <img class="img-responsive img-rounded myimg" ng-src={{data.url}}></img>
            <p>{{data.time}}</p>
          </div>
        </div>

      </div>

    </div>


</body>

</html>
